streamlit
#tensorflow
pandas
numpy
Ipython
music21
protobuf == 3.20
beautifulsoup4
mido
pretty-midi
pyfluidsynth
requests
scipy
soundfile 
requires.io
pretty_midi
wavfile
mido
pyfluidsynth
midi2audio
mido
